<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link href="../../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>


    <header>
        <nav class="menu">
            <a href="../../view/experiencia.html" class="menu-parte-left menu-letra">In Spanish</a>
            <div class="menu-parte-right">
                <a href="../en/index_en.html" class="menu-letra">Who I am?</a>
                <a href="../en/education.html" class="menu-letra">Study</a>
                <a href="../en/experience.html" class="menu-letra">Experience</a>
            </div>
        </nav>
    </header>


    <section class="estudio-fondo">

        <h2 class="titu-estudio"><strong>Experience</strong></h2>
            <section class="rowflex pa-izquierda">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p><strong>2022</strong></p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>I worked as a waiter in the bar Cuarta 2.0.</li>
                      </ul>
                </div>
            </section>

            <section class="rowflex pa-izquierda">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p><strong>2023</strong></p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>I worked as a waiter at Bar Esquinica.</li>
                      </ul>
                </div>
                
            </section>

            <section class="rowflex pa-izquierda">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p><strong>2024</strong></p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>I did an internship in computer science at Balaguer School.</li>
                      </ul>
                </div>
            </section>

    </section>

    
    <section class="estudio-fondo titu-ubi rowflex">

        <div class="col2 ancho juntar pa-izquierda">
           <h2>Waiter</h2>
           <ul>
            <li>Customer service and explanation of the menu.</li>
            <li>Cash collection and closing operations.</li>
            <li>Receipt of customer orders</li>
          </ul>
          <img src="../../img/camarero.jpg" alt="" class="img-expe">
        </div>

        <div class="col2-right ancho juntar">
            <h2>Informatics</h2>
           <ul>
            <li>Technical support to teachers and personnel.</li>
            <li>Network management and computer security.</li>
            <li>Maintenance of hardware and software.</li>
          </ul>
          <img src="../../img/informatico.jpg" alt="" class="img-expe">
           
        </div>


    </section>

    <section class="row col1 color-fondo">
        <div class="pagination">
            <a href="../en/index_en.html">1</a>
            <a href="../en/education.html">2</a>
            <a href="../en/experience.html" class="active">3</a>
          </div>
    </section>

    <footer class="rowflex color-pie">

        <div class="col2-right titu-center">
            <a href="../../img/CV ingles HAO.pdf" download class="boton-descarga" target="_blank">
                <button>Download CV</button>
              </a>
            </div>

        <div class="col2-right">
            <h2 class="titu-center">@Inforhao</h2>
            <h2 class="titu-center">SMX2</h2>
        </div>

    </footer>
   
</body>
</html>