<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link href="../../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>


    <header>
        <nav class="menu">
            <a href="../../index.html" class="menu-parte-left menu-letra">In Spanish</a>
            <div class="menu-parte-right">
                <a href="../en/index_en.html" class="menu-letra">Who I am?</a>
                <a href="../en/education.html" class="menu-letra">Study</a>
                <a href="../en/experience.html" class="menu-letra">Experience</a>
            </div>
        </nav>
    </header>

    <div class="fondo-gif">
    <h1>Jun Hao Xiang</h1>
    <img src="../../img/fotohao.jpg" alt="fotohao" class="img-hao">
    </div>

    <section class="rowflex color-fondo">
        <div class="col2-right texto-estrecho">
            <h2 class="titu-center">Contact</h2>
            <div class="titu-center">
                <p>📧 441443.joan23@fje.edu</p>
                <p>📱 123 456 789</p>
                <p>📍 Hospitalet de Llobregat (08906)</p>
            </div>

           </div> 

        <div class="col2-right texto-estrecho color-fondo">
            <h2 class="titu-center">Who I am?</h2>
            <p>My name is Jun Hao and I am 19 years old. I consider myself a very hardworking and responsible person. I always do the jobs proposed to me correctly and with a lot of desire to learn and improve. I am very organized, as I like everything to be under control.</p>
        </div>

        
        
    </section>

    <section class="row row4col colorcol4">

        <div class="col1">
            <h1>Hobbies</h1>
        </div>

        <div class="col4">
            <p>Soccer</p>
            <img src="../../img/futbol.jpg" class="img-col4">
        </div>

        <div class="col4">
            <p>Gym</p>
            <img src="../../img/gym.jpg" class="img-col4">
        </div>

        <div class="col4">
            <p>Computing</p>
            <img src="../../img/informatica.jpg" class="img-col4">
        </div>

        <div class="col4">
            <p>Money</p>
            <img src="../../img/dineros.jpg" class="img-col4">
        </div>


    </section>

    <section class="row col1 color-fondo">
        <h1>Video presentation</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KiuCwDSYGbQ?si=YTkVCLwKkuCPpq95" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section class="row col1 color-fondo">
        <div class="pagination">
            <a href="../en/index_en.html" class="active">1</a>
            <a href="../en/education.html">2</a>
            <a href="../en/experience.html">3</a>
          </div>
    </section>

    <footer class="rowflex color-pie">

        <div class="col2-right titu-center">
            <a href="../../img/CV HAO.pdf" download class="boton-descarga" target="_blank">
                <button>Download CV</button>
              </a>
            </div>

        <div class="col2-right">
            <h2 class="titu-center">@Inforhao</h2>
            <h2 class="titu-center">SMX2</h2>
        </div>

    </footer>
   
</body>
</html>