<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudio</title>
    <link href="../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>


    <header>
        <nav class="menu">
            <a href="./en/experience.html" class="menu-parte-left menu-letra">En Ingles</a>
            <div class="menu-parte-right">
                <a href="../index.html" class="menu-letra">¿Quien soy?</a>
                <a href="./estudis.html" class="menu-letra">Estudio</a>
                <a href="./experiencia.html" class="menu-letra">Experiencia</a>
            </div>
        </nav>
    </header>


    <section class="estudio-fondo">

        <h2 class="titu-estudio">Experiencia</h2>
            <section class="rowflex">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p>2022</p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>Trabaje de camarero en el bar Cuarta 2.0.</li>
                      </ul>
                </div>
            </section>

            <section class="rowflex">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p>2023</p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>Trabaje de camarero en el Bar Esquinica.</li>
                      </ul>
                </div>
                
            </section>

            <section class="rowflex">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p>2024</p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>Hize practicas de informatica en el colegio Balaguer.</li>
                      </ul>
                </div>
            </section>

    </section>

    
    <section class="estudio-fondo titu-ubi rowflex">

        <div class="col2 ancho juntar">
           <h2>Camarero</h2>
           <ul>
            <li>Atencion al cliente y explicacion de la carta.</li>
            <li>Operaciones de cobro y cierre de caja.</li>
            <li>Servir, recoger y limpiar las tablas.</li>
          </ul>
          <img src="../img/camarero.jpg" alt="" class="img-expe">
        </div>

        <div class="col2-right ancho juntar">
            <h2>Informatica</h2>
           <ul>
            <li>Mantenimiento de hardware y software.</li>
            <li>Soporte técnico para profesores y personal.</li>
            <li>Gestión de la red y seguridad informática.</li>
          </ul>
          <img src="../img/informatico.jpg" alt="" class="img-expe">
           
        </div>


    </section>

    <section class="row col1 color-fondo">
        <div class="pagination">
            <a href="../index.html">1</a>
            <a href="./estudis.html">2</a>
            <a href="./experiencia.html" class="active">3</a>
          </div>
    </section>

    <footer class="rowflex color-pie">

        <div class="col2-right titu-center">
            <a href="../img/CV HAO.pdf" download class="boton-descarga" target="_blank">
                <button>Descargar CV</button>
              </a>
            </div>

        <div class="col2-right">
            <h2 class="titu-center">@Inforhao</h2>
            <h2 class="titu-center">SMX2</h2>
        </div>

    </footer>
   
</body>
</html>