<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudio</title>
    <link href="../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>


    <header>
        <nav class="menu">
            <a href="./view/en/index_en.html" class="menu-parte-left">En Ingles</a>
            <div class="menu-parte-right">
                <a href="../index.html" class="menu-letra">¿Quien soy?</a>
                <a href="./estudis.html" class="menu-letra">Estudio</a>
                <a href="./experiencia.html" class="menu-letra">Experiencia</a>
            </div>
        </nav>
    </header>


    <section class="estudio-fondo">

        <h2 class="titu-estudio">Estudio</h2>
            <section class="rowflex">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p>Formacion Reglada</p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>Actualmente · CFGM Sistemas Microinformatica y Redes · <a href="https://www.fje.edu/ca/jesuites-bellvitge" target="_blank" class="sinlinea">CE Joan XXIII</a></li>
                        <li>Finalizado 2018 - 2022 · Educacion Segundaria Obligatoria · <a href="https://teclasala.cat/" target="_blank" class="sinlinea">Escola Tecla Sala</a></li>
                      </ul>
                </div>
            </section>

            <section class="rowflex">
                <div class="col2-right texto-estrecho">
                    <div class="titu-center">
                        <p>Formacion Complementaria</p>
                    </div>
        
                </div> 
        
                <div class="col2-right texto-estrecho">
                    <ul>
                        <li>2023 · Curso "Como planificar la compra y venta de publicidad en internet" · <a href="https://www.barcelonactiva.cat/es/inicio" target="_blank" class="sinlinea">Barcelona Activa</a></li>
                        <li>2023 · Curso "GIMP" · Barcelona Activa</li>
                      </ul>
                </div>
                
            </section>

    </section>

    
    <section class="estudio-fondo titu-ubi rowflex">

        <div class="col2">
           
        </div>

        <div class="col2-right">
           
        </div>


    </section>

    <section class="row col1 color-fondo">
        <div class="pagination">
            <a href="../index.html">1</a>
            <a href="./estudis.html">2</a>
            <a href="./experiencia.html" class="active">3</a>
          </div>
    </section>

    <footer class="rowflex color-pie">

        <div class="col2-right titu-center">
            <a href="../img/CV HAO.pdf" download class="boton-descarga" target="_blank">
                <button>Descargar CV</button>
              </a>
            </div>

        <div class="col2-right">
            <h2 class="titu-center">@Inforhao</h2>
            <h2 class="titu-center">SMX2</h2>
        </div>

    </footer>
   
</body>
</html>